@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1000vh;
  margin: auto;
  margin-top: 18rem;
  padding: 2rem;
  align-items: center;
  text-align: center;
}




.card {
  width: 100%;
  padding: 1em;
  border-radius: 1rem;
  box-shadow:inset -3px -3px 7px black,inset 3px 3px 5px white;
  /* margin-bottom: 2rem; */
}

button{
  margin: 0.3rem;
  box-shadow: inset -3px -3px 7px black, inset 3px 3px 5px white;
  transition: all ease 0.9s;
}
button:hover{
  transform: scale(1.1);
}